html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html,
body {
    height: 100%;
    font-size: 10px;
    font-family: 'Josefin Sans', sans-serif;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

section .cta {
    margin-bottom: 4rem;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    margin: 0 5rem;
    margin-bottom: 10.5rem;
}

.top-nav ul {
    display: flex;
    font-size: 1.8rem;
}

.top-nav li {
    margin-right: 3rem;
}

.top-nav li:last-child {
    margin-right: 0;
}

.top-nav .logo {
    font-size: 2.4rem;
    font-weight: 600;
}

.cta {
    background: black;
    padding: 1.5rem 1rem;
    color: white;
    /* height: 5.1rem; */
    min-width: 14rem;
    font-size: 1.4rem;
    font-family: inherit;
}

.jumbotron {
    font-size: 6rem;
    font-weight: 600;
    text-align: center;
    max-width: 92rem;
    margin: 0 auto;
    line-height: 7rem;
}

.jumbotron span {
    color: grey;
}

h2.jumbotron {
    margin-bottom: 11.5rem;
}

h3.jumbotron {
    margin-bottom: 5.5rem;
}

.low-nav {
    display: flex;
    color: grey;
    font-size: 1.5rem;
    padding: 0 5rem;
    margin-bottom: 11.5rem;
}

.low-nav li {
    margin-right: 3rem;
}

.low-nav li:last-child {
    margin-right: 0;
}

#wrapper {
    max-width: 160rem;
    margin: 0 auto;
}

.grid {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10rem;
}

.grid li {
    margin-bottom: 1.5rem;
    position: relative;
}

.grid .full,
.grid .half,
.grid .third {
    margin-right: 0;
    width: 100%;
}

.grid li img {
    width: 100%;
    display: block;
}

@media (min-width: 769px) {
    .grid {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .grid .full {
        margin-right: 0;
        width: 100%;
    }

    .grid .half {
        width: calc(50% - 1rem);
    }

    .grid .third {
        width: calc(33% - 1rem);

    }
}

.social-icons {
    display: flex;
    margin-bottom: 5rem;
}

.social-icons li {
    margin-right: 1.5rem;
    font-size: 1.5rem;
    color: grey;
}

footer {
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 11rem;
    color: grey;
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0);
    transition: background 0.3s ease-out, color 0.8s ease-out;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    color: rgba(255, 255, 255, 0);
    padding-bottom: 2rem;
    padding-left: 2rem;
    font-size: 3rem;
}

.overlay:hover {
    position: absolute;
    background: rgba(0, 0, 0, .7);
    color: rgba(255, 255, 255, 1);
}