html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html,
body {
    height: 100%;
    font-size: 10px;
    font-family: 'Josefin Sans', sans-serif;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    margin: 0 5rem;
    margin-bottom: 10.5rem;
}

.top-nav ul {
    display: flex;
    font-size: 1.8rem;
}

.top-nav li {
    margin-right: 3rem;
}

.top-nav li:last-child {
    margin-right: 0;
}

.top-nav .logo {
    font-size: 2.4rem;
    font-weight: 600;
}

.cta {
    background: black;
    padding: 1.5rem 1rem;
    color: white;
    /* height: 5.1rem; */
    min-width: 14rem;
    font-size: 1.4rem;
    font-family: inherit;
}

.jumbotron {
    font-size: 6rem;
    font-weight: 600;
    text-align: center;
    max-width: 92rem;
    margin: 0 auto;
    line-height: 7rem;
    margin-bottom: 11.5rem;
}

.jumbotron span {
    color: grey;
}

.low-nav {
    display: flex;
    color: grey;
    font-size: 1.5rem;
    padding: 0 5rem;
    margin-bottom: 11.5rem;
}

.low-nav li {
    margin-right: 3rem;
}

.low-nav li:last-child {
    margin-right: 0;
}

.grid {
    display: flex;

    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    flex-direction: column;
    max-width: 160rem;
    margin: 0 auto;
}




.grid li {
    /* margin-right: 20px;
    margin-bottom: 20px; */
    margin-bottom: 1.5rem;
}



.grid .full,
.grid .half,
.grid .third {
    margin-right: 0;
    width: 100%;
}

.grid li img {
    width: 100%;
}


@media (min-width: 769px) {
    .grid {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .grid .full {
        margin-right: 0;
        width: 100%;
    }

    .grid .half {
        width: calc(50% - 1rem);
    }

    .grid .third {
        width: calc(33% - 1rem);

    }

}